

*{
    box-sizing: border-box;
}
body{
    background-image: url(../img/teslalogo.jpg);
    font-family: Arial, Verdana, sans-serif;
    color: beige;
    font-size: 10pt;
    margin: 0;
}
/*grid beállítása*/
main{
    width: 80%;
    max-width: 1000px;
    margin: 20px auto;
    background-color: #333333;
    box-shadow: 0 0 15px 2px black;
    display: grid;
    grid-template-columns:2fr 1fr;
    grid-template-areas:
        "h h"
        "a n"
        "f f";
}

header{
    grid-area: h;
    background-image: url(../img/tesla.jpg);
    height: 300px;
    background-size: cover;
     
   
}
header h1{
    font-weight: bold;
    font-family: cursive;
    letter-spacing: 4px;
    font-size: 32px;
    text-align: left;
    margin-left: 30px;
    margin-top: 30px;
}

article{
    grid-area: a;
    background-color: black;
    padding: 10px;
    
}
article li{
    font-size: 15px;
}
article h2{
    font-size: 20px;
}
article img{
    width: 30%;
    float: left;
    border: 1px solid gray;
    padding: 2px;
    border-radius: 5px;
    margin-right: 25px;
    margin-bottom: 200px;
    
}
article ul{
    list-style-type: square;
}

nav ul{
    list-style-type: none;
    margin: 5px;
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    */
}
nav li{
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
}
nav li:hover{
    background-color: gray;
}
nav a{
    text-decoration: none;
    font-weight: bold;
    color: red;
    
}
nav a:hover{
    color: white;
}
nav{
    grid-area: n;
}
    

/*reszponzív beállítás*/
@media all and (max-width: 700px){
    main{
        grid-template-columns:1fr;
        grid-template-areas:
        "h"
        "n"
        "a"
        "f";
    }
}